{
    "Configurations": 
    {
      "DatabaseConfigurations" :
      {
        "ServerHostName" : "",
        "ServerPortNumber" : 0,
        "ServerUsername" : "",
        "ServerPassword" : "",
        "DatabaseName" : ""
      }
    }
  }